{{! You can use the theme-options.js file to customize the cover photo text }}
{{! Please refer to Echo's documentation for more information. }}

<div class="cover-photo" style="background-image: url({{@blog.cover}});">
	<div class="vertical">
    	<h2></h2>
   	</div>
</div>