<div class="post-meta">
    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="M.D.YY"}}</time> |
    <h5 class="post-author">By {{author}}</h5>
    {{#if tags}} | <h5 class="post-tags"> {{tags separator=" . "}} </h5>{{/if}}
</div>